@import url('./portrateStyle.css');
@import url('./landscapeStype.css');

html, #root, #wrapper {
  height: 100vh;
  width: 100vw;
}

html {
  justify-content: right;
}

#wrapper, #main, .results-item {
  display: grid;
}


#header {
  display: flex;
  place-content: center;

  grid-area: start-header / start-nav / header-main / main-end;
  background-color: red;
}

#nav-list {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

  grid-area: header-main / start-nav / main-footer / nav-main;
  background-color: pink;
}
#main {
  grid-area: header-main / nav-main / main-footer / main-end;
  background-color: green;
  overflow: hidden;
}
#footer {
  display: flex;
  place-content: center;

  grid-area: main-footer / start-nav/ footer-end / main-end;
  background-color: yellow;
}

#sort-list {
  display: flex;
  place-items: center;

  grid-area: header-sort / nav-main / sort-results / end-extra;
  background-color: brown;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-evenly;
  margin-left: -10px;
}

#sort-list li {
  cursor: pointer;
}

#results-list {
  margin: 0;
  overflow-y: auto;

  grid-area: sort-results / nav-main / main-footer / main-end;
  background-color: purple;
}
.video {
  grid-area: sort-name / nav-video/ tags-footer/ video-title ;
  background-color: skyblue;
}
.name {
  grid-area: sort-name / video-nametags / name-tags / nametags-end;
  background-color: lightblue;
}
.tags-list {
  display: flex;
  /*justify-self: center;*/
  overflow: scroll;
  grid-area: name-tags / video-nametags / tags-footer / nametags-extra;
  background-color: orange;
}
